extends layout

block content
  h1= title
  div
    h2 Room:
        span(id='room')= room
    p Player Turn:
        span(id="playerTurn")
        span(id='playerMode')
    p(id='localPlayer_0')
        span(id="player_name_0")
        span(id="points_0") 0
        span  pts
    p(id='localPlayer_1')
        span(id="player_name_1")
        span(id="points_1") 0
        span  pts
    button(id='restart') Restart
  p(id='message')
  table(id='board')

  script(src='/javascripts/game.js')
