extends layout

block content
  div.page-header
    h1= title
        small Lets make squares, Why? For Fun :)
  div
    div.col-md-4
        div
            form(method='post', id='roomNameForm').form-horizontal
                div.form-group
                    label(for='roomName').control-label Create or join a room:
                    input(id='roomName', type="text", name='roomName').form-control
                    button(type='submit').btn.btn-default Go!
  script(src='/javascripts/index.js')
