extends layout

block content
  h1= title
  div
    h2 Start Playing Squares!
    form(method='post', id='roomNameForm')
        p Create or join a room:
            input(id='roomName', type="text", name='roomName')
            button(type='submit') Go!
  script(src='/javascripts/index.js')
