body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFDA82;
}

a {
  color: #00B7FF;
}
.container {
    background-color: #FFE6AC;
    padding-bottom: 15%;
    margin-bottom: 15%;
    padding-right: 15%;
    padding-left: 15%;
}

#board {
    display:block;
    background-color: white;
}
#board div.cell {
    background-color: white;
    border: black;
    border-style: solid;
    border-width: thin;
    text-align: center;
    vertical-align: middle;
    width: 15%;
    padding-bottom: 15%;
    float: left;
}

#board div.clicked {
    background-color: red;
}

#board div.square {
    background-color: green;
}

.playerSession {
    font-weight: bold;
}
